# Ensure files are classified as specific languages
*.rs linguist-detectable=true
*.c linguist-detectable=true
*.h linguist-detectable=true
*.py linguist-detectable=true

# Exclude utility scripts from stats
utils/* linguist-vendored
